/.venv
.pdm-python

# Build
/build
/dist
*.egg-info

/packaging/innosetup/.extensions
/packaging/choco/*/*-generated
/packaging/choco/*/*.generated.nuspec

# Caches
__pycache__

# 设计资源输出
/assets/design/output/**